{% extends "ccl.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}CCL - Sessions{% endblock %}

{% block side_content %}
<div class="page-header">
    <h1>All Seesions</h1>
</div>
<div class="col-md-4">
    {% for session in sessions %}    
    	<li class="list-group-item">{{ session.school_year }}  {{ session.time }} 
    	{{ session.room }} {{session.class_name()}}
    	{% if not student.is_registering(session) %}
    	<a href="{{ url_for('student.register', student_id=student.id, session_id=session.id) }}" >Enroll</a>
    	{% endif %}
    	</a></li>
    {% endfor %}

</div>
{% endblock %}


{% block tab2 %}
{% endblock %}
{% block tab3 %}
{% endblock %}
{% block tabcontent %}
<div id="tab1" class="col s12">
  <div class="col-md-4">
    <ul class="collection">
    	{% for session in sessions %}    
    	<li class="list-group-item">{{ session.school_year }}  {{ session.time }} 
    	{{ session.room }} {{session.class_name()}}
    	{% if not student.is_registering(session) %}
    	<a href="{{ url_for('student.register', student_id=student.id, session_id=session.id) }}" >Enroll</a>
        {% else %}
        <p>Enrolled in the session</p>
        <a href="{{ url_for('student.quit', student_id=student.id, session_id=session.id) }}" >Quit This Session</a>
    	{% endif %}
    	</a></li>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block currentMenuItem %}
"school-student"
{% endblock %}