{% extends "ccl.html" %}
{% import "wtf.html" as wtf %}

{% block title %}CCL - Student Profile{% endblock %}

{% block tab1 %}
<li class="tab col s3"><a href="#tab1">{{ student.first_name }}{{ student.last_name }}</a></li>
{% endblock %}
{% block tab2 %}
{% endblock %}
{% block tab3 %}
{% endblock %}
{% block tabcontent %}
<div id="tab1" class="col s12">
<div class="row">
  <div class="col s12 m5">
    <div class="card-panel white">
      <span class="black-text">
        <p>Student Name: {{ student.first_name }}{{ student.last_name }}</p>
        <p>Student's Parents: {{user.first_name1 }} {{user.last_name1}} </p>
        <p>Student's Birthday: {{student.birthday }} </p>
        <p>Classes Enrolled Now: <br />
        {% for session in sessions %}
        {{session.duration}}  
        {{session.school_year}}
        {{session.class_name()}}<br />
        {% endfor %}
        <p><a href="{{ url_for('student.delete', student_id=student.id) }}">Remove Stduent</a></p>
        <p><a href="{{ url_for('student.sessionlist', student_id=student.id) }}">Enroll Session</a></p>
      </span>
    </div>
  </div>
</div>
</div>
{% endblock %}
