{% extends "ccl.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}CCL - Students{% endblock %}

{% block tab2 %}
{% endblock %}
{% block tab3 %}
{% endblock %}
{% block tabcontent %}
<div id="tab1" class="col s12">
  <div class="col-md-4">
    <ul class="collection">
    {% for student in students %}
      <a href="{{ url_for('student.profile', student_id = student.id) }}" class="collection-item">
        {{ student.last_name}} {{student.first_name}}{{ student.id }}</a>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block currentMenuItem %}
"admin-student"
{% endblock %}