{% extends "ccl.html" %}
{% import "wtf.html" as wtf %}

{% block title %}CCL - Family Summary{% endblock %}

{% block tab2 %}
{% endblock %}
{% block tab3 %}
{% endblock %}

{% block tab1 %}
<li class="tab col s3"><a href="#tab1">Students</a></li>
{% endblock tab1%}

{% block tabcontent %}
<div id="tab1" class="col s12">
  {% if int(current_user.get_id()) == user.id or current_user.can(8) %}
  <div class="row">
    <div class="col s12 m5">
      <div class="card-panel white">
        <span class="black-text">
          <ul class="list-group">
            <p>Here are your students:</p>
          	{% for student in students %}
              <li class="list-group-item"><a href="{{ url_for('student.profile', student_id=student.id) }}" >
              {{ student.first_name }}  {{ student.last_name }}</li>
              <li class="list-group-item"><a href="{{ url_for('student.sessionlist', student_id=student.id) }}" >Enroll</a></li>

            {% endfor %}
          </ul>
          <a href="{{ url_for('student.addstudent', user_id=user.id) }}">Add Stduent</a>
        </span>
      </div>
    </div>
  </div>

<ul class="list-group">
	{% for student in students %}
    <li class="list-group-item"><a href="{{ url_for('student.profile', student_id=student.id) }}" >
    {{ student.first_name }}  {{ student.last_name }}</li>
    <li class="list-group-item"><a href="{{ url_for('student.sessionlist', student_id=student.id) }}" >Enroll</a></li>

  {% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block currentMenuItem %}
"family-summary"
{% endblock %}
