{% extends "ccl.html" %}
{% import "wtf.html" as wtf %}

{% block title %}CCL - User List{% endblock %}

{% block tab3 %}
{% endblock %}
{% block tabcontent %}
<div id="tab1" class="col s12">
  <div class="col-md-4">
    <ul class="collection">
    {% for user in users %}
      <a href="{{ url_for('user.profile', user_id=user.id) }}" class="collection-item">
        {{ user.last_name1}} {{user.first_name1}}{{ user.id }}</a>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block currentMenuItem %}
"admin-user"
{% endblock %}
