{% extends "ccl.html" %}
{% import "wtf.html" as wtf %}

{% block title %}CCL - Classes{% endblock %}

{% block tab1 %}
<li class="tab col s3"><a href="#tab1">Classes</a></li>
{% endblock tab1%}
{% block tab2%}
{% endblock tab2%}
{% block tab3%}
{% endblock tab3%}
{% block tabcontent%}




<div id="tab1" class="col s12">
  <div class="col-md-4">
    <ul class="collection">
      {% for tclass in classes %}
      <a href="{{ url_for('.profile', class_id=tclass.id) }}" class="collection-item">{{ tclass.name }}</a>
      {% endfor %}
  </div>
  <a href="{{ url_for('classbp.addclass') }}">Add Class</a>
  </div>
</div>


{% endblock %}

{% block currentMenuItem %}"school-classes"{% endblock currentMenuItem %}
