{% extends "ccl.html" %}
{% import "wtf.html" as wtf %}

{% block title %}CCL - Class Info{% endblock %}

{% block tab1 %}
<li class="tab col s3"><a href="#tab1">Class Info</a></li>
{% endblock tab1%}
{% block tab2 %}
{% endblock %}
{% block tab3 %}
{% endblock %}

{% block tabcontent %}
<div class="col s12">
    <p> No.{{ tclass.id }}</p>
    <p>Name: {{ tclass.name }} </p>
    <p>Description: {{ tclass.description }}</p>
    <p>Type: {{ tclass.class_type }}</p>
    <p>All Sessions:</p>
    {% for session in tclass.sessions %}
    <p>{{ session.school_year }} {{ session.time }} {{ session.room }}</p>
    {% endfor %}
    {% if current_user.can(Permission.bit5) %}
    <p><a href="{{ url_for('session.addsession', class_id=tclass.id) }}" class="btn btn-primary">Add Session</a></p>
    {% endif %}
    <a href="{{url_for('classbp.browse')}}">Show All Classes</a>
</div>
{% endblock %}

{% block currentMenuItem %}"school-classes"{% endblock currentMenuItem %}
